
html {
	background-color: #0052A5;
}

.greedy-nav {
	background: #484848;
}

.masthead {
	border-bottom-color: #212121;
}

.page__footer {
	background-color: #212121;
}

.author__urls {
	border-color: #797979;
	background: #484848;
}

.btn--inverse {
	background-color: #D0DFEE;
}

.btn:hover {
	background-color: #0052A5;
}

.btn--inverse:hover {
	background-color: #0052A5;
}

.social-icons .fa {
	color: #D0DFEE;
}

body {
	color: #797979;
}
