
html {
	background-color: #232323;
}

.greedy-nav {
	background: #232323;
}

.masthead {
	border-bottom-color: #232323;
}

.page__footer {
	background-color: #232323;
}

.author__urls {
	border-color: #484848;
	background: #797979;
}

.btn--inverse {
	background-color: #B9D6F5;
}

.btn:hover {
	background-color: #0069DB;
}

.btn--inverse:hover {
	background-color: #B9D6F5;
}

.social-icons .fa {
	color: #B9D6F5;
}

body {
	color: #232323;
}
