---
---

<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
	<head>
		{% include head/main.html %}
		{% include head/custom.html %}
		<link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
	</head>
	<body>
		{% include header/browser-upgrade.html %}
		{% include header/masthead.html %}

		<!-- START: Content -->
		<div class="container">
			{{ content }}
		</div>
		<!--   END: Content -->

		<div class="page__footer">
			<footer>
				{% include footer/custom.html %}
				{% include footer/footer.html %}
			</footer>
		</div>

    	{% include scripts.html %}
	</body>
</html>